* {
    margin: 0;
    padding: 0;
    color: rgb(105, 102, 102);
}

.sign-up {
    background-image: url(../images/wallpaperflare.com_wallpaper\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
}

.box1 {
    background-color: rgba(4, 6, 24, 0.623);
    border-radius: 20px;
    height: 40vh;
    width: 20%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

input,
button {
    display: flex;
    flex-flow: row;
    margin: 0 auto;
    padding: 10px;
    border: none;
    border-radius: 10px;
    display: flex;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.603);

}

button:hover {
    background-color: rgba(13, 10, 187, 0.39);
    color: white;
}

input:hover {
    background-color: rgba(13, 10, 187, 0.39);
    color: white;
}


.box1 {
    width: 20%;
}

@media (max-width: 1200px) {
    .box1 {
        width: 40%;
    }
}

@media (max-width: 992px) {
    .box1 {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .box1 {
        width: 80%;
    }
}

@media (max-width: 576px) {
    .box1 {
        width: 90%;
    }
}