* {
    margin: 0;
    text-align: center;
    color: white;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.header {
    background-color: aqua;
    width: 80%;
    height: 100%;
    margin: 3px auto;
    background-image: url("../images/Picsart_26-07-12_19-53-34-168.jpg");
     box-shadow:0px 0px 50px rgb(10, 0, 97);
}

.section-1 img {
    margin: 200px 0 0 0;
    width: 10%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 60%;
    margin-right: 50%;
}

.section-1 h2,
h3 {
    margin-right: 50%;
}

.section-2 {
    width: 40%;
    margin: -250px 0 0 50%;
}

.article-1 {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: left;
}

.footer{
    width: 100%;
    background: rgba(155, 155, 207, 0.1);
    padding: 30px 0;
    margin-top: 50px;
}

.footer button {
    margin: 0 10px 0 10px;
    color: rgb(253, 253, 253);
    background-color: rgba(47, 38, 175, 0.1);
}

.footer button:hover {
    background-color: rgb(17, 0, 78);
    border-radius: 40%;
}